#login-form {
  width: 450px;
  max-width: 50%;
  height: 450px;
  margin: 50px auto;
  background-color: rgba(77, 63, 114, 0.8); /* Transparent background */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(15, 14, 15, 0.4); /* Soft shadow */
  font-family: "Poppins", sans-serif;
  backdrop-filter: blur(10px); /* Blur effect for modern browsers */
  -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
}

.MovetoOther {
  margin-top: 8px;
  text-decoration: none;
  color: #04010e;
  font-weight: bold;
}

.MovetoOther:hover {
  text-decoration: underline;
}

#login-form h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(10, 0, 0);
}

#login-form form {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Transparent white background */
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

#login-form form label {
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 18px;
  color: black;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

#login-form form input[type="text"],
#login-form form input[type="password"],
#login-form form select[type="select"] {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(147, 18, 198, 0.5); /* Transparent purple border */
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#login-form form input[type="submit"] {
  width: 100%;
  background-color: rgba(210, 30, 207, 0.8); /* Transparent purple button */
  margin-top: 10px;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#login-form form input[type="submit"]:hover {
  background-color: rgba(71, 39, 156, 0.8); /* Transparent hover color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
