.tableauto {
  width: 100%;
  align-items: center;
}

/* .tableauto td {
  background-color: rgb(171, 69, 171);
} */

.tableauto th,
.tableauto td {
  padding: 0.5rem;
  text-align: center;
  /* border: 1px solid black; */
}

.tablehead {
  text-align: center;
  border-radius: 10px;
}

.image {
  padding: 15px !important;
  width: 10%;
}

.songname {
  width: 30%;
}

.artistname {
  width: 15%;
}

.trending {
  width: 15%;
}

.bun {
  width: 15%;
}

.scrollbarcustom {
  max-height: 80px; /* Adjust the max height as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(76, 45, 76) transparent; /* thumb color track color */
  transition: smooth 1.5s;
}

.scrollbarcustom::-webkit-scrollbar {
  width: 10px;
}

.scrollbarcustom::-webkit-scrollbar-track {
  background-color: #c4c4c4;
  border-radius: 25px;
}

.scrollbarcustom::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 25px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    transparent 100%,
    rgba(0, 0, 0, 1) 75%,
    transparent
  );
}
